"*":
  welcome:
    showOnStartup: false
  editor:
    fontSize: 10
    showInvisibles: true
    showIndentGuide: true
    invisibles:
      {}
  core:
    audioBeep: false
  "exception-reporting":
    userId: "dd9a6429-7c95-6194-87de-303c4729d6e3"
